<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ezens.Intranet.mapper.ScheMapper">

<select id="SelectAllList" resultType="hashMap">
	SELECT userCode,userName,TO_CHAR(hiDay,'YYYY-MM-DD HH24:MI') AS h FROM testTable ORDER BY hiDay DESC
</select>

<insert id="Insert" parameterType="hashMap">
	INSERT INTO testTable (
		userCode,
		userName,
		hiDay
	) VALUES (
		#{code,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		SYSDATE
		
	)
</insert>

<delete id="Delete" parameterType="hashMap">
	DELETE FROM testTable
		WHERE userCode = #{code, jdbcType=VARCHAR}
</delete>


<select id="scheList" resultType="hashMap">
	SELECT
		SCHE_SEQ,
		MST_SEQ,
		USER_ID,
		TO_CHAR(START_DT,'YYYY-MM-DD HH24:MI') START_DT,
		TO_CHAR(END_DT,'YYYY-MM-DD HH24:MI') END_DT,
		TITLE,
		CONTENTS,
		PLACE,
		REG_ID,
		REG_DT,
		UPD_ID,
		UPD_DT,
		SCHE_TYPE
	FROM tb_intra_sche
</select>
<insert id="insertSche" parameterType="hashMap">
	INSERT INTO tb_intra_sche (
		SCHE_SEQ
<!-- 		MST_SEQ, -->
<!-- 		USER_ID, -->
		,START_DT
		,END_DT
		,TITLE
		,CONTENTS
		,PLACE
<!-- 		REG_ID, -->
<!-- 		REG_DT, -->
<!-- 		UPD_ID, -->
<!-- 		UPD_DT, -->
		,SCHE_TYPE
	) VALUES (
		(SELECT NVL(MAX(SCHE_SEQ),0)+1 FROM TB_INTRA_SCHE)
<!-- 		MST_SEQ... -->
<!-- 		#{USER_ID} -->
		,#{calStDt,jdbcType=TIMESTAMP}
		,#{calEdDt,jdbcType=TIMESTAMP}
		,#{cal_title,jdbcType=VARCHAR}
		,#{cal_content,jdbcType=VARCHAR}
		,#{cal_place,jdbcType=VARCHAR}
<!-- 		#{REG_ID}, -->
<!-- 		#{REG_DT}, -->
<!-- 		#{UPD_ID}, -->
<!-- 		#{UPD_DT}, -->
		,#{cal_type,jdbcType=VARCHAR}
	)
	
	
	
</insert>
</mapper>